.calc__input-card {
  flex: 1;
}

.form-controll__heder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.form-controll__heder label {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-grayish-cyan);
}

.input-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-grayish-cyan);
}

.form-controll__heder .form-controll__error {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: hsl(13, 70%, 61%);
}

.input-container {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 48px;
  max-width: 379px;
  background-color: hsl(189, 41%, 97%);
}

.input-container.input-container--focus {
  outline: 2px solid hsl(172, 67%, 45%);
}

.input-container.input-container--error {
  outline: 2px solid hsl(13, 70%, 61%);
}

.input-container input {
  width: 100%;
  height: 100%;
  padding: 0 17px 0 40px;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--very-dark-cyan);
  outline: none;
  border: none;
  text-align: right;
  background-color: transparent;
}

.input-container img {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
}

.input-card__select-box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

.input-card__select-box-container .input-container input {
  padding: 0 14px;
}

.select-box {
  max-width: 117px;
  display: grid;
  place-content: center;
  padding: 6px 13px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--very-dark-cyan);
  cursor: pointer;
}

.select-box.select-box--selected {
  color: var(--very-dark-cyan);
  background-color: hsl(173, 61%, 77%);
}
