:root {
  --strong-cyan: hsl(172, 67%, 45%);

  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(186, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(180, 37%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  row-gap: 87px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grayish-cyan);
}

.calc-container {
  display: flex;
  padding: 32px;
  width: 920px;
  height: 481px;

  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px;
  background: var(--white);
}

.calc__calculator {
  flex: 1;
  background-color: yellow;
}
